<div class="authincation h-100">
        <div class="container vh-100">
            <div class="row justify-content-center h-100 align-items-center">
                <div class="col-lg-6 col-md-8">
                    <div class="authincation-content">
                        <div class="row no-gutters">
                            <div class="col-xl-12">
                                <div class="auth-form">
									<div class="text-center mb-3">
										<a [routerLink]="['/admin/index']"><img src="assets/images/logo-full.png" alt=""></a>
									</div>
                                    <h4 class="text-center mb-4">Sign up your account</h4>
                                    <!-- <form action="['/admin/index']">
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Username</strong></label>
                                            <input type="text" class="form-control" placeholder="username">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Email</strong></label>
                                            <input type="email" class="form-control" placeholder="hello@example.com">
                                        </div>
                                        <div class="form-group">
                                            <label class="mb-1"><strong>Password</strong></label>
                                            <input type="password" class="form-control" value="Password">
                                        </div>
                                        <div class="text-center mt-4">
                                            <button type="submit" class="btn btn-primary btn-block">Sign me up</button>
                                        </div>
                                    </form> -->
                                    <form [formGroup]="ngFormSignup" (ngSubmit) ="onRegister()">
                                        <div class="text-left">
                                            <a class="forgot-link" >Ingresa tu nombre y tu e-mail</a>
                                        </div>
                                        <div class="form-group form-focus">
                                        <!-- 	<input type="text" class="form-control floating"> -->

                                            <input type="text" class="form-control floating" id="name" formControlName="name" placeholder="Full Name" [(ngModel)]="user.name" [ngClass]="{'is-invalid': submitted && fval.name.errors }"required>

                                            <div *ngIf="submitted && fval.name.errors" class="invalid-feedback">
                                                <div *ngIf="fval.name.errors.required">
                                                Full Name is required and must be a valid name
                                                </div>
                                             
                                            </div>
                                            <label class="focus-label">Nombre</label>
                                        </div>

                                        <div class="form-group form-focus">
                                            <!-- <input type="email" class="form-control floating"> -->
                                                <input type="email" class="form-control floating" id="email" placeholder="Email" formControlName="email" [(ngModel)]="user.email" required [ngClass]="{ 'is-invalid': submitted && fval.email.errors }">
                                            <div *ngIf="submitted && fval.email.errors" class="invalid-feedback">
                                                <div *ngIf="fval.email.errors.required">Email is required</div>
                                                <div *ngIf="fval.email.errors.email">Enter a valid email address</div>
                                            </div>
                                            <label class="focus-label">e-mail</label>
                                        </div>


                                        <div class="form-group form-focus">
                                            <!-- <input type="email" class="form-control floating"> -->
                                            <input type="password" class="form-control" id="password" formControlName="password" placeholder="*******" [(ngModel)]="user.password" [ngClass]="{ 'is-invalid': submitted && fval.password.errors}" required>
                                            <div *ngIf="submitted && fval.password.errors"class="invalid-feedback">
                                                <div ngClass="fval.password.errors.required">
                                                Password is required.
                                                </div>
                                            <div *ngIf="fval.password.errors.minlength">Password must be at least 6 characters</div>
                                            </div>
                                            <label class="focus-label">Contraseña</label>
                                        </div>

                                        <div class="form-group form-focus">
                                            <input type="checkbox" (click)="setPolitics()"> <a class="forgot-link" >He leído y acepto la Política de Privacidad</a>
                                        </div>
                                        <div style="text-align: center;"  [hidden]="!waiting">
                                            
                                        <img src="assets/images/tenor.gif"	 style="max-height: 32px;max-width: 32px; text-align: center;	">
                                        <p></p>
                                        </div>
                                        <button class="btn btn-primary btn-block btn-lg login-btn" type="submit" disabled="disabled" [hidden]="!waiting &&  politics">Enviar</button>
                                        <button class="btn btn-primary btn-block btn-lg login-btn" type="submit" [hidden]="waiting  ||  !politics" >Enviar</button>
                                        <div class="login-or">
                                            <span class="or-line"></span>
                                            <span class="span-or">o</span>
                                        </div>
                                        <div [hidden]="!isError">
                                            <div style="color: red;text-align: left;">
                                            {{message}}
                                            </div>

                                        </div>
                                        <div class="text-left">
                                            <a class="forgot-link" routerLink="/login">Ya tienes una cuenta?</a>
                                        </div>
                                        
                                        
                                    </form>
                                    <div class="new-account mt-3">
                                        <p>Already have an account? <a class="text-primary" [routerLink]="['/page-login']">Sign in</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>